/* ---- Base / reset-ish ---- */
* { box-sizing: border-box; }

body {
    font-family: 'Gentium', system-ui, -apple-system, 'Verdana', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.6;
    background: #e5f3da;
    /* margin: 0; */ /* margin: 50px 25px; */
}

a {
    color: #111; /* #2a99b6 */
    text-decoration: none;
}

a:hover {
    color: #111; /* #33bbdf */
}

header, footer {
    width: 100%; /* width: 760px; */
    margin: 0 auto;
    background: #f6d75b; /* #daeef3 */
    border-bottom: none;
    display: inline-block;
    padding: 20px 30px;
    position: sticky;
    top: 0;
    /* z-index: 10; */
}

.left {
    float: left;
}

.right {
    float: right;
    margin: 0px auto;
    padding: 10px 15px;
}

.clear {
    clear: both;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 10px 15px;
}

.logo img {
    height: 59px; /* Adjust logo size */
    max-height: 90px;
    object-fit: contain;
}

.logo h1 {
    color: #111; /* #169bbd */
    margin: 0 25px;
    font-weight: normal;
    font-size: 1.5625rem; /* 25px with 1rem being 16px */
}

header nav ul {
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0px auto;
    padding: 11.1px 15px;
}

header nav ul li {
    display: inline;
    font-size: 1.4375rem; /* 23px */
    margin: 0 35px 0 0;
    padding: 0;
}

footer nav ul {
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

footer nav ul li {
    display: inline;
    font-size: 1.3125rem; /* 21px */
    margin: 0 35px 0 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

div.page {
    background: #fefef1; /* #f1fbfe */
    font-size: 1.4375rem; /* 23px */
    margin: 0 auto;
    max-height: 100%;
    padding: 20px 30px;
    /* width: 760px; */
}
